table {
  border-collapse: collapse;
}

th {
  padding: 0.5rem;
  text-align: left;
}
th:tr{
    color: blue;
}
tr:nth-of-type(2n){
    border: 1px solid black;
    background-color: rgba(150, 150, 150, 0.5);
}
td{
    padding: 0.5rem;
    text-align: left;
    border: 1px solid black;
}
.button{
    text-align: center;
}