th:tr{
    color: blue;
}
tr:nth-of-type(2n){
    border: 1px solid black;
    background-color: rgba(150, 150, 150, 0.5);
}
td{
    padding: 8px 8px;
    border: 1px solid black;
}
.button{
    text-align: center;
}