<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Table Page</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/table.css">
<body>
<table style="margin-left: 20px;">
    <th>
        <tr style="color: green; ">
        <td>Date</td>
        <td>Article Title</td>
        <td>URL</td>
</tr>
    </th>
{% for pieces in cookie %}
<tr>
    <td>{{pieces.articleDate}}</a></td>
    <td>{{pieces.articleTitle}}</td>
    <td>{{pieces.url}}</td>
{%endfor%}
</tr>
</table>
    <div class="button">
	</form>
		<form action = "http://localhost:5000/TablePage" method = "post">
        <input type="submit" value="Map Page">
	</form>
    </div>
</body>
</html>