<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Table Page</title>
</head>
<style type="text/css">
    th:tr{
        color: blue;
    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);
    }
    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
    .button{
    text-align: center;
}
</style>
<body>
<table style="margin-left: 20px;">
    <th>
        <tr style="color: green; ">
        <td>Date</td>
        <td>Article Title</td>
        <td>URL</td>
</tr>
    </th>
{% for pieces in cookie %}
<tr>
    <td>{{pieces.articleDate}}</a></td>
    <td>{{pieces.articleTitle}}</td>
    <td>{{pieces.url}}</td>
{%endfor%}
</tr>
</table>
    <div class="button">
	</form>
		<form action = "http://localhost:5000/TablePage" method = "post">
        <input type="submit" value="Map Page">
	</form>
    </div>
</body>
</html>