<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <title>P.E.A.T.</title>

    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/js/bootstrap.min.js" rel="stylesheet">

</head>
<link rel="stylesheet" type="text/css" href="/static/table.css">
<link rel="stylesheet" type="text/css" href="/static/header.css">
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('front') }}">P.E.A.T.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('front') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table') }}">Table View<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('map') }}">Map View</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
      </li>
    </ul>
  </div>
</nav>

  <header class="bg-secondary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">About Us</h1>
          <p class="lead mb-5 text-white">Pollution Events Aggregation Tool (aka P.E.A.T.) was developed under the direction of Professor Nic DePaula as a group senior capstone given at Wayne State University. Using crawling and scraping of Michigan news sites, the back end collects and filters news articles that are likely to contain a pollution or contamination event, then uses NLP techniques to locate the data of interest. This information is stored in a database, then displayed on the PEAT site.</p>
        </div>
      </div>
    </div>
  </header>

<div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Motive</h2>
        <hr>
          <p class="lead">The motive for developing this tool was to create a resource for residents, politicians and scientists in the state of Michigan to view the aggregated data of pollution events or trends with details and the articles that those details were retrieved from. A tool of this range, detail and type does not exist as of 2020, so the areas of application were unprecedented and fascinating to implement.</p>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Technologies Used</h2>
        <hr>
            <ul>
            <li>Flask and Bootstrap</li>
            <li>Selenium</li>
            <li>MongoDB</li>
            <li>Beautiful Soup</li>
                <li>spaCy</li>
                <li>Regular Expressions</li>
                <li><a href="https://github.com/kamalkraj/BERT-NER">https://github.com/kamalkraj/BERT-NER</a></li>
                <li><a href="https://github.com/codelucas/newspaper">https://github.com/codelucas/newspaper</a></li>
          </ul>
      </div>
    </div>
</div>




<section class="pt-3 pb-4">
      <div class="container">
          <div class="row mt-4">
            <div class="col text-center">
              <h3>
                Our Team
              </h3>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 text-center">
              <img class="img-fluid qualities-img p-4" src="static/img/personIcon.png">
              <h5>
                Team Leader
              </h5>
              <p>
                <i>- Sophia Vaughn</i>
              </p>

            </div>
            <div class="col-md-4 text-center">
              <img class="img-fluid qualities-img p-4" src="static/img/personIcon.png">
              <h5>
                Frontend Lead
              </h5>
              <p>
                <i>- Austin Alexander</i>
              </p>

            </div>
            <div class="col-md-4 text-center">

                <img class="img-fluid qualities-img p-4" src="static/img/personIcon.png">
                <h5>
                  Database Lead
                </h5>
                <p>
                  <i>- Saular Raffi</i>
                </p>
            </div>
          </div>

          <div class="row mb-md-3">
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-4" src="static/img/personIcon.png">
                <h5>
                  Documentation Lead
                </h5>
                <p>
                  <i>- Isha Naik</i>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-fluid qualities-img p-4" src="static/img/personIcon.png">
                <h5>
                  Testing Lead
                </h5>
                <p>
                  <i>- Michael Heredia</i>
                </p>
            </div>
          </div>
      </div>
</section>

<div class="container-fluid" style="min-height: 150px; height:100%;background-color: #4e555b">
  <div class="container">
    <ul class="list-unstyled list-inline text-center py-2" >
      <li class="list-inline-item text-white">
        <h4 class="mb-1">P.E.A.T.</h4>
          <p>
                Pollution Events Aggregation Tool
          <a class="nav-link" style="color: white" href="https://github.com/SophiaMVaughn/Pollution-CSC4996">Click Me to visit our GitHub!</a>
          </p>
      </li>
    </ul>
  </div>

</div>
</body>
</html>